// Place all the styles related to the buses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bustable {
  max-width: 900px;
  margin: 0 auto;

  th, td {
    text-align: center;
  }

  thead, tr:last-child {
    background-color: #cccccc;
  }
}

.bus-form {
  max-width: 900px;
  margin: 0 auto;

  input {
    max-width: 200px;
  }

  .vehicle-licence-form, .number-plate-form {
    input {
      display: inline-block;
      width: 100px;
    }

    label {
      display: block;
    }
  }

  .image-block {
    padding: 10px;
    background-color: #b0e0e6;
    margin: 10px;
  }
}
